<form class="search-form" id="search-form">
  <input
    class="input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form>

<div class="gallery">
  <!-- Карточки изображений -->
</div>

<!-- <div class="photo-card">
  <img src="" alt="" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
    </p>
    <p class="info-item">
      <b>Views</b>
    </p>
    <p class="info-item">
      <b>Comments</b>
    </p>
    <p class="info-item">
      <b>Downloads</b>
    </p>
  </div>
</div> -->

<button class="is-hidden" type="button">
  <span>Show more</span>
</button>

<!-- <div class="gallery">
  <a href="largeImageURL"
    ><img src="webformatURL" alt="" title="" />
    <div
      class="photo-card"
      style="border: 1px solid #009688; border-radius: 4px; margin-bottom: 5px"
    >
      <img src="${webformatURL}" alt="${tags}" loading="lazy" width="260px" height="150px" />
      <div class="info">
        <p class="info-item">
          <b> Likes: ${likes}</b>
        </p>
        <p class="info-item">
          <b> Views: ${views}</b>
        </p>
        <p class="info-item">
          <b> Comments: ${comments}</b>
        </p>
        <p class="info-item">
          <b> Downloads: ${downloads}</b>
        </p>
      </div>
    </div></a
  >
</div> -->
